h2{
    text-align: center;
    font-family: 'Exo', sans-serif;
}

mat-list-option {
    font-family: 'Exo', sans-serif;
}

.card {
    /* border: 2px solid Black; */
    margin: 0 auto;
    padding: 4em;
    width: 80%;
}

.opponentNameButton{
    margin-bottom: 10px;
}

.opponentInput {
    margin-bottom: 20px;
    font-family: 'Exo', sans-serif;
}

.newOpponentButton {
    padding-left: 20px;
    font-family: 'Exo', sans-serif;
}

.goToStats {
    color: white;
    font-family: 'Exo', sans-serif;
}