<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap" rel="stylesheet">
</head>

<body class="font">

    <div
      class="imageCotainer"
    >
      <img 
        src="../assets/images/checkers2.jpeg" 
        alt="Checkerboard"
        class="checkersImage"
      >
    </div>

    <div class="form-check chooseOpponent">

      <h1 class="mat-h1">
        SELECT PLAYER 2
      </h1>

      <!-- Template Variable #checker Opponents -->
      <!-- three method calls in click could be one method call  -->
      <mat-selection-list #checkerOpponents [multiple]="false">
        <mat-list-option *ngFor="let opponent of opponents" [value]="opponent.name"
          (click)="selectPlayerTwo(opponent.name)">
          {{opponent.name}}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <br><br>

    <div
      *ngIf="clicked"
    >
      <h1>Stats VS {{ playerTwo }}</h1>

      <mat-list role="list">
        <mat-list-item role="listitem">Number of Wins VS {{ playerTwo }}: {{ numberOfWins }}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">Number of Losses VS {{ playerTwo }}: {{ numberOfLosses }}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">Number of Draws VS {{ playerTwo }}: {{ numberOfDraws }}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">Number of Quits VS {{ playerTwo }}: {{ numberOfQuits }}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">Total Games Played VS {{ playerTwo }}: {{ numberOfGames }}</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">WIN Percentage VS {{ playerTwo }}: {{ winPercentage }}%</mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">LOSS Percentage VS {{ playerTwo }}: {{ lossPercentage }}%</mat-list-item>
      </mat-list>

      <br><br>

      <div
        class="statsButtons"
      >
        <button 
          mat-raised-button 
          color="accent"
          routerLink="/game"
        >
          Play Game
        </button>

        <button 
        mat-raised-button 
        color="background"
        (click)="clicked=false"
      >
        Close Stats
      </button>
      </div>
      <br><br>
      <mat-divider></mat-divider>
    </div>

    <br><br>
    
    <div class="opponentInput">
      <span class="inputButton">
        <mat-form-field>
          <mat-label>
            Enter new Opponent
          </mat-label>
          <input matInput placeholder="Ex. Charles Schultz" [(ngModel)]="nameInTextInput">
        </mat-form-field>

        <br><br>

        <button mat-raised-button color="primary" (click)="addNewOpponent(); clearInputText()"
          class="newOpponentButton">
          Add Opponent
        </button>
      </span>
    </div>
  
</body>

</html>