#gameButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 60%;
  margin-top: 25%;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  border-radius: 10%; 
}

.draw {
    background-color: coral;
    color: white;
}