#gameButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* align-content: space-between; */
}

.button {
  width: 60%;
  margin-top: 20%;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  border-radius: 0%; 
}

.draw {
    background-color: coral;
    color: white;
}