body {
    padding: 10%;
}

h1 {
    font-family: 'Exo', sans-serif;
    text-align: center;
}

button {
    font-family: 'Exo', sans-serif;
}

.statsButtons{
    display: flex;
    justify-content: space-around;
}